.filmdb {
	padding: 20px;
}

.outer {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 20px;
  width: 100%;
}

.index {
  display: grid;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
}

a:link {
    color: #E6E6FA;
}

a:hover {
    color: #FFE4E1;
}

a:active {
    color: #FFB6C1;
}

.selected {
  color: #BA55D3;
}

.hover {
  color: #BA55D3;
}

body {
  background-image: url("images/default_background.jpg");
  background-size: cover;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column1 {
    grid-row: 2;
    grid-column: 1 / 2;
    width: 80%;
    float: left;
}

.column2 {
    grid-row: 2;
    grid-column: 2 / 2;
    width: 20%;
    padding-left: 80%;
}

.row:after{
    height: 10px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}

.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}


.suggestions-widget-table {
	width: 100%
}


.suggestions-widget {
  cursor: pointer;
  white-space: pre; 
  text-align: left;
  vertical-align: center;
  background: #DA70D6;
  border: 1px solid #9370DB;
  color: #333333;
  width: 100%;
}

.suggestions-widget-td {
	border: 1px;
}

.suggestions-widget .selected {
  color: #9932CC
}
.suggestions-widget:active {
  color: #9932CC
}


.film-widget {
  cursor: pointer;
  white-space:pre;
  vertical-align: center;
  background: rgba(216,191,216,.7);
  border: 1px solid #9370DB;
  text-align: left;
  color: #333333;
}

.film-widget-table {
	vertical-align: center;
}

.film-widget-td-img {
	align: center;
	object-fit: contain;
	width: 150px;
	height: 150px;
}

.img {
	align: center;
	object-fit: contain;
	width: 150px;
	height: 150px;
}

.film-widget::before {
  border: 1px solid #9370DB;
  cursor: pointer;
}

.nested-film-widget {
  cursor: pointer;
  white-space: pre;
  vertical-align: center;
  background: rgba(217,233,255,.7);
  border: 1px solid #9370DB;
  text-align: left;
  color: #333333;
}

.filmElem {
  opacity: 0.5;
  padding-left: 5px;
  text-align: left;
}

.filmElem img {
  display:block; 
  width:100%; 
  height:auto;
  overflow: hidden;
}

div[class*=container] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8499B1;
}

.currFilm {
  white-space: pre;
  justify-content: space-around;
}

/*
 BUTTON STYLING
*/
.search {
  cursor: pointer;
  margin-left: 45%;
  position: relative;
  color: white;
  width: 70px;
  height: 70px;
  line-height: 70px;
  transition: all 0.3s;
}

.search::before, .search::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.search:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.search:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.search:hover::after, .search:hover::before {
  width: 70px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}