.outer {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.index {
  display: grid;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
}

a:link {
    color: #E6E6FA;
}

a:hover {
    color: #FFE4E1;
}

a:active {
    color: #FFB6C1;
}

.selected {
  color: #BA55D3;
}

.hover {
  color: #BA55D3;
}

body {
  background-image: url("images/default_background.jpg");
  background-size: cover;
  color: white;
}

.column1 {
    grid-row: 2;
    grid-column: 1 / 2;
    width: 50%;
    float: left;
}

.column2 {
    grid-row: 2;
    grid-column: 2 / 2;
    width: 50%;
    padding-left: 50%;
}

.row:after{
    height: 10px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.suggestions-widget {
  cursor: pointer;
  white-space: pre;
  text-align: left;
  vertical-align: center;
  background: #DA70D6;
  border: 1px solid #9370DB;
  color: #333333;
}

.suggestions-widget .selected {
  color: #9932CC
}
.suggestions-widget:active {
  color: #9932CC
}

.film-widget {
  cursor: pointer;
  white-space: pre;
  vertical-align: center;
  background: rgba(216,191,216,.7);
  border: 1px solid #9370DB;
  text-align: left;
  color: #333333;
}

.film-widget::before {
  border: 1px solid #9370DB;
  cursor: pointer;
}

.filmElem {
  opacity: 0.5;
  padding-left: 5px;
  text-align: left;
}

.filmElem img {
  width: 120px;
  height: 120px;
  overflow: hidden;
}